<h2>Restablecimiento de Contraseña</h2>

{{#if hasError}} 
	<p style="color:tomato"> {{ error }} </p>
{{/if }}

<form action="/api/sessions/reset-password" method="POST">
	Nueva Contraseña: <input type="password" name="password" required><br><br>

	<input type="submit" value="Restablecer Contraseña">
</form>