VISTA PRINCIPAL DEL CHAT

<p style="border: 1px solid black" id="messageContainer"></p>

<input type="text" id="messageInput">
<input type="button" value="Enviar" id="messageButton">

<p style="border: 1px solid red" id="notificationContainer"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.3/qs.min.js"></script>
<script src="../public/js/swish.js"></script>
